body {
  background-color: #f6fff8;
}

.container-dashboard {
  display: flex;
  padding: 1% 3vw;
  position: inherit;
  width: 100%;
  margin-top: 1vw;
}
.space-Sapam{
  position: inherit;
  padding: 2rem;
}
.container-login{
  margin-left: 25%;
  margin-top: 10%;
  background-color: #f6fff8;
  height: 400px;
  width: 50%;
  border-radius: 14.5px;
  box-shadow: -1px 4px 30px 4px rgba(0,0,0,0.75);
}
.container-form{
  background: white;
  border-radius: 14.5px;
  height: 400px;
  width: 50%;
  padding: 3vw;
  margin-left: 24.7vw;
}
.img-logo{
  position: absolute;
  width: 19vw;
  height: 22vw;
  margin-top: 4vw;
  margin-left: 1vw;
}
.login-user{
  margin-top: 3vw;
}
.group-button{
  margin-left: 35%;
  margin-top: 3vw;
  display: flex;
}
@media (max-width: 800px) {
  .group-button {
    flex-direction: column;
    margin-left: 10%;
  }
}
.separador{
  padding: 0vw 1vw;
}
.separador1{
  padding: 1vw;
}
h5{
  text-align: center;
}
p{
  text-align: center;
}
.container-form-R{
  background: white;
  border-radius: 14.5px;
  max-height: fit-content;
  width: 50%;
  padding: 3vw;
  margin-left: 24.7vw;
}
.container-table{
  background: white;
  border-radius: 14.5px;
  max-height: fit-content;
  padding: 3vw;
  width: 90%;
  align-content: center;
  margin-left: 5vw;
}
.style-snap{
  background: #38c446;
  color: white;
  padding: 0.3vw;
  border-radius: 1vw;
}
.style-snap_A{
  background: #a9f09d;
  color: white;
  padding: 0.3vw;
  border-radius: 1vw;
}
.container-modal{
  width: 83vw;
  margin-left: -9vw;
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));
  position: absolute;
  margin-top: -3vw;
  padding: 1vw;
  z-index: 1;
}
.container-modal1{
  width: 83vw;
  margin-left: -9vw;
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));
  position: absolute;
  margin-top: -8vw;
  padding: 3vw;
  z-index: 1;
}
.container-Actualia{
  background-color: white;
}
.position{
  margin-left: 0vw;
  position: absolute;
  margin-top: -13vw;
  z-index: 1;
}
.div-contrasenia{
  position: absolute;
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));;
  margin-left: -29%;
  width: 100%;
  height: 65vw;
  padding: 94px 0px;
  margin-top: -8vw;
}
.div-select{
  position: absolute;
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));
  margin-left: -9%;
  width: 84%;
  height: 52vw;
  padding: 94px 0px;
  margin-top: -8vw;
}

.slect-spam{
  cursor: pointer;
}
.container-visual{
  display: flex;
  margin-left: 4vw;
}
.tipos-suelo{
  padding: 1vw;
  font-size: 1.5vw;
  font-family: inherit;
}
.name-sensor{
  font-size: 1vw;
  font-family: fantasy;
  text-align: center;
}
.pagina-vacia{
  margin-left: 20vw;
  margin-top: 6vw;
}
.label-text{
  font-size: 1vw;
  font-family: revert;
}
.div-control-automatico{
  text-align: center;
  padding: 2vw;
}